body {
	background: #db893f;

	font-family: Helvetica, Arial, sans-serif;
}

.AppCreateButton {
	padding: 5px;
	background: #f89849;
	border: 1px solid #674121;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

.AppBoard {
	max-width: 100px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.AppBoardName {
	font-weight: bold;
	padding: 3px;
	margin-bottom: 5px;
}

.AppMessage {
	text-align: left;
}
