body {
	background: #db893f;

	font-family: Helvetica, Arial, sans-serif;
}

.AppCreate {
	display: flex;
}

#AppCreateField, .AppCreateButton {
	padding: 5px;
	border: 1px solid #674121;
	border-radius: 5px;

	margin:  0;

	background: #f89849;
	font-size: 12px;
	font-weight: bold;
}

#AppCreateField {
	background: white;
}

#AppCreateField {
	border-right: none;
	border-radius: 5px 0 0 5px;
}

.AppCreateButton {
	border-radius: 0 5px 5px 0;
}

#AppItems {
	margin-top: 10px;

	display: flex;
	overflow-y: scroll;
}

.AppBoard {
	max-width: 100px;
	padding: 5px;
	margin-right: 5px;

	border: 1px solid black;
	
	display: flex;
	flex-direction: column;
}

.AppBoardName {
	font-weight: bold;
	padding: 3px;
	margin-bottom: 5px;
}

.AppMessage {
	text-align: left;
}
