:root {
	--AppPadding: 5px;
}

body {
	background: #db893f;

	font-family: Helvetica, Arial, sans-serif;
}

.AppCreate {
	display: flex;
}

#AppCreateField, .AppCreateButton {
	padding: var(--AppPadding);
	border: 1px solid #674121;
	border-radius: var(--AppPadding);

	margin: 0;

	background: #f89849;
	font-size: 12px;
	font-weight: bold;
}

#AppCreateField {
	background: white;
}

#AppCreateField {
	border-right: none;
	border-radius: var(--AppPadding) 0 0 var(--AppPadding);
}

.AppCreateButton {
	border-radius: 0 var(--AppPadding) var(--AppPadding) 0;
}

#AppItems {
	margin-top: 10px;

	display: flex;
	overflow-y: scroll;
}

.AppBoard {
	max-width: 100px;
	padding: var(--AppPadding);
	margin-right: var(--AppPadding);

	border: 1px solid black;
	
	display: flex;
	flex-direction: column;
}

.AppBoardName {
	font-weight: bold;
	padding: 3px;
	margin-bottom: var(--AppPadding);
}

.AppMessage {
	text-align: left;
}
